<a href="https://colab.research.google.com/github/jacksondouglasdesouza/eia.ai/blob/master/1_01_Fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variáveis**
O que são as variáveis na programação?
Variável é o nome utilizado para definir um ou mais valores que são manipulados pelos programas durante a sua operação. O nome “variável” é utilizado por ser um tipo de conteúdo que pode apresentar diferentes valores enquanto o sistema está em execução. Tudo dependerá do comando do usuário e o tipo de operação que é realizado.

In [4]:
#Nome NOME nome  <<-- SÃO TRÊS VARIÁVEIS DIFERENTES
NOME = 'Nome A'
Nome = 'Nome B'
nome = 'Nome C'
#Não pode iniciar com números nem com carácteres especiais com excessão do _ .

print(NOME)
print(Nome)
print(nome)

# Atribuindo outro valor a variável

NOME = 'Nome A - 002'
Nome = 'Nome B - 002'
nome = 'Nome C - 002'

# Vai imprimir os novos valores da variável.

print(20 * "*")
print(NOME)
print(Nome)
print(nome)
print(20 * "*")

Nome A
Nome B
Nome C
********************
Nome A - 002
Nome B - 002
Nome C - 002
********************

In [7]:
# Pode usar " " Aspas duplas e ' ' Aspas simples.
print(20 * "*")

aspas_simples = 'Essa é uma string com aspas simples'
aspas_duplas= "Essa é uma string com aspas duplas"

print(aspas_simples)
print(' ')
print(aspas_duplas)

print(20 * "*")

********************
Essa é uma string com aspas simples

Essa é uma string com aspas duplas
********************

In [10]:
# Tipos Primitivos

nome = 'Dormin' #string
idade = 37 #int
altura = 1.92 #float
humano = True #bool

print(type(nome))
print(type(idade))
print(type(altura))
print(type(humano))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## **ATIVIDADE 2**

Crie variáveis e acrescente a elas valores do tipo primitivo, em seguida apresente elas no console:

In [14]:
nome = 'Jackson'
sobrenome = 'Douglas de Souza'
cpf = '111.111.111-11'
data_nascimento = "11/11/11"
ano_nascimento = 1986
ano_atual = 2023
idade = ano_atual - ano_nascimento
altura = 1.90
peso = 101
imc = peso / (altura ** 2)

print(f'O seu nome é {nome} e seu sobrenome é {sobrenome}')
print(f'O seu CPF é {cpf}')
print(f'Você nasceu em {data_nascimento}')
print(f'A sua idade é {idade}')
print(f'A sua altura é {altura:.2f}')
print(f'O seu peso é {peso}')
print(f'E o seu IMC é {imc:.2f}')

O seu nome é Jackson e seu sobrenome é Douglas de Souza
O seu CPF é 111.111.111-11
Você nasceu em 11/11/11
A sua idade é 37
A sua altura é 1.90
O seu peso é 101
E o seu IMC é 27.98

# **⏰**

In [28]:
# %s Formatação para texto
# %d Formatação para Inteiro
# %f Formatação para Float
# VAI GERAR STRING

nome001 = "Carol"
nome_gigante = 'Gigantão'
idade = 450
altura = 3.89

texto_formatado = "O nome dela é %s" % (nome001)
print(texto_formatado)

texto_editado = 'Sou gigante, meu nome é %s tenho %d anos de idade e sou muito alto, com aproximadamente %.2f metros' % (nome_gigante,idade, altura)

print(texto_editado)

verdade = True
mentira = False

print("A história e verdade [ %s ], ele foi vítima? [ %s ]" % (verdade, mentira))

#parte inteira de ponto flutuante

numero_real = 3850.7894562357896541052156

print("O numero decimal do float é %d" % (numero_real))

O nome dela é Carol
Sou gigante, meu nome é Gigantão tenho 450 anos de idade e sou muito alto, com aproximadamente 3.89 metros
A história e verdade [ True ], ele foi vítima? [ False ]
O numero decimal do float é 3850